
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body { 
    background: url(/public/img/wallban123.jpg);
}

header{
    display: flex;  
    align-items: center;
    justify-content: baseline;
    padding: 10px;
    backdrop-filter: blur(20px);
}

i{color: aliceblue;}

nav ,button{
    gap: 1.5rem;
    padding: 1rem;
    color: black;
    cursor: pointer;
}

h3{color: white; font-size: xx-large; align-items: center; justify-content: center; display: flex; margin-bottom: 25px;}
h1{color: antiquewhite;}
span{color: yellow;}

img{
    width: 315px;
    height: 310px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
}

i{color: rgb(255, 255, 255); font-size: x-large;}
.btn-nav1{border: none; border-radius: 40%; background-color: #111; align-items: center; justify-content: center;}


button#toggleButton {
    display: flex;
    border-radius: 40%;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

nav {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 100px;
    width: 450px;
    border-radius: 20px;
    background: url(/public/img/wlaaabanana.jpg);
    transition: left 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Começa invisível */
    z-index: 1000;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 20px;
    list-style-type: none;
}

.nav-list li {
    margin-right: 10px;
}

.nav-list button {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Classe para mostrar o nav */
.visible {
    right: 6px; /* Alinha o menu na posição desejada */
    opacity: 1; /* Torna o menu visível */
}



.btn-nav {
    margin: 5px;
    width: 190px;
    border: none;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}


.main-center{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1300px;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    width: 450px;   
    padding: 40px 32px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}   

.main-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: auto;
    padding: 40px 32px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.main-right button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 3px;
    border-radius: 10px;
    border: solid none;
    cursor: pointer;

}

.vendas button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upgrade button{
    display: flex;
    justify-content: center;
    margin: 1pc;
    align-items: center;
}