
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body { 
    background: url(/public/img/wallban123.jpg);
}

header{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    backdrop-filter: blur(20px);
}

nav ,button{
    gap: 1.5rem;
    padding: 1rem;
    color: black;
    cursor: pointer;
}

h3{color: white; font-size: xx-large; align-items: center; justify-content: center; display: flex; margin-bottom: 25px;}
h1{color: antiquewhite;}
span{color: yellow;}

img{
    width: 315px;
    height: 310px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
}

.menu {
    display: flex;
    float: left;
    width: 400px;
    list-style: none;
    z-index: 10000;
}

.menu li {
    position: relative;
    float: left;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
    
}

.menu li:hover ul,
.menu li.over ul {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 280px;
    height: auto;
    background-color: black;
}

.btn-nav {
    margin: 5px;
    width: 190px;
    border: none;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.menu li ul li select {
    display: grid;
    flex-direction: column;
    width: 200px;
    height: auto;
    z-index: 10000;
}


.main-center{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1300px;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    width: 450px;   
    padding: 40px 32px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}   

.main-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: auto;
    padding: 40px 32px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.main-right button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 3px;
    border-radius: 10px;
    border: solid none;
    cursor: pointer;

}

.vendas button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upgrade button{
    display: flex;
    justify-content: center;
    margin: 1pc;
    align-items: center;
}